version: "3.8"

services:
  web:
    build: .
    container_name: jambo-supamoto
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 4G
