:root {
  --bg-color: #ffffff;
  --primary-color: #f58203;
  --secondary-color: #365425;
  --tertiary-color: #f58203;
  --success-color: #336021;
  --warning-color: #fba928;
  --error-color: #b30000;
  --disabled-color: #d4d4d4;
  --footer-bg-color: #ffffff;
  --grey-color: #b6b2b2;
  --icon-grey-color: #d4d4d4;
  --light-grey-color: #ebe7dd;
  --backdrop-color: rgba(0, 0, 0, 0.5);
  --main-font-size: 16px;
  --main-font-color: #000000;
  --lighter-font-color: #191919;
  --main-font-color-inverted: #ffffff;
  --button-border-radius: 18px;
  --header-height: 90px;
  --header-logo-width: 42px;
  --header-logo-height: 42px;
  --footer-height: 90px;
  --card-border-radius: 16px;
  --max-width: 400px;

  // dark mode
  .dark {
    --bg-color: #000000;
    --primary-color: #f58203;
    --secondary-color: #365425;
    --tertiary-color: #f58203;
    --success-color: #336021;
    --warning-color: #fba928;
    --error-color: #b30000;
    --disabled-color: #d4d4d4;
    --footer-bg-color: #000000;
    --grey-color: #b6b2b2;
    --icon-grey-color: #d4d4d4;
    --light-grey-color: #d4d4d4;
    --backdrop-color: rgba(0, 0, 0, 0.8);
    --main-font-size: 16px;
    --main-font-color: #ffffff;
    --lighter-font-color: #ffffff;
    --main-font-color-inverted: #000000;
    --button-border-radius: 18px;
    --header-height: 90px;
    --header-logo-width: 42px;
    --header-logo-height: 42px;
    --footer-height: 90px;
    --card-border-radius: 16px;
    --max-width: 400px;
  }
}
